@model Party

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-5">
    <div class="mt-4">
        <h3>@Model.Name Attendees</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>
                            <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">
                                @user.Email
                            </a>
                        </td>
                        <td>@user.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
